* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #1f1f1f !important;
}

.videoContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 4rem;
}

.videoItem {
  max-width: 700px;
  height: 500px;
}

video {
  width: 100%;
  max-height: 520px;
  border-radius: 8px;
  height: 500px;
}

#remoteVideo {
  width: 100%;
  max-height: 520px;
  border-radius: 8px;
}

.real {
  color: rgb(78, 182, 50);
}

.footer {
  background-color: rgb(0 0 0 / 15%);
  color: #fff;
  width: 100%;
  height: inherit;
  position: fixed;
  top: 86%;
  text-align: center;
}

/* Icones */
.icones {
  text-align: center;
  margin-top: 2%;
}

img {
  cursor: pointer;
  width: 50px !important;
  padding: 10px;
}

.on {
  background-color: green;
}
.off {
  background-color: red;
}

@media screen and (max-width: 500px) {
  html,
  body {
    margin: 0px !important;
    padding: 0px !important;
  }

  body {
    display: block !important;
  }

  video {
    width: 100% !important;
    max-width: 100%;
    margin: 0px;
  }
  footer {
    height: 70px;
    position: fixed;
    top: 61%;
    text-align: center;
  }
}
